
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div style="text-align:center" >
  <h2>Set Count Down To Date Below: </h2>
  <p-calendar [(ngModel)]="countDownTo" [defaultDate]="defaultDate" [showTime]="true" [showIcon]="true" (ngModelChange)="onSelectCountDownToDate()"></p-calendar>
</div>

<div style="text-align:center" id="countdowndiv">

  <div>
      <span>{{days}}</span>
      <div class="smalltext">Days</div>
  </div>
  <div>
      <span>{{hours}}</span>
      <div class="smalltext">Hours</div>
  </div>
  <div>
      <span>{{minutes}}</span>
      <div class="smalltext">Minutes</div>
  </div>
  <div>
      <span>{{seconds}}</span>
      <div class="smalltext">Seconds</div>
  </div>
</div>

